/* Add CSS styling for the box and message */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
  }
  
  /* Navigation Bar */
  nav {
    background-color: #00101f;
    color: #fff;
    padding: 10px 0;
  }
  
  nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #fff;
  }
  
  
  header {
    background-color: #00101f;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .message {
    text-align: center;
    font-size: 24px;
    color: #444;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }